body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: 'Georgia', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(138, 43, 226, 0.2);
    width: 350px;
    text-align: center;
    border: 1px solid #333;
}

h1 {
    color: #bb86fc;
    margin-bottom: 1.5rem;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #bb86fc;
    border: none;
    color: #121212;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #9955e8;
}
.error-message {
    background-color: #cf6679; /* Rojo suave pero visible */
    color: #121212;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    font-weight: bold;
    border: 1px solid #ff0000;
}

.footer {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #888;

}